
navbar {
    overflow: hidden; 
    background-color: #54abf8;
}

navbar a {
    float: left
    color: white
    padding: 25px 25px;
}

navbar a:hover { 
    background-color: #B6DCFD
    color: white
}

body {
  background-color: #B6DCFd;
  text-align: center;
  }

body {
  text-align: center;
  font-weight: normal
  font-family: Georgia, serif;
  }

body img {
    px: 500
}
  
p {
    background-color: #B6DCFD;  
  color: initial
  font-weight: normal
  font-family: Georgia, serif;
  }

p img {
    px: 500
}

ul {
  font-weight: bold;
  font-family: sans-serif
}

ol {
  font-weight: bold;
  font-family: sans-serif
  background-color: #D8EBFB;
}

h1 {
  font-family: sans-serif;
  }
  
h2 {
  font-family: sans-serif;
  color: #FF7F00;
  }

a {
  color: #FF7F00
}
