
.navbar {
    overflow: hidden; 
    background-color: #B6DCFD;
    border: 15px solid #51abfb;
}

body {
  background-color: #B6DCFD; 
  text-align: center;
  }

body {
  text-align: center;
  font-weight: normal;
  font-family: Georgia, serif;
  }

p {
    background-color: #B6DCFD;  
  color: initial;
  font-weight: normal;
  font-family: Georgia, serif;
  }

p img {
    px: 500;
}

ul {
  font-weight: bold;
    
  font-family: sans-serif;
}

ol {
  font-weight: bold;
  font-family: sans-serif;
  background-color: #D8EBFB;
}

h1 {
  font-family: sans-serif;
  }
  
h2 {
  font-family: sans-serif;
  color: #FF7F00;
  }

a {
  color: #FF7F00;
}
