body {
  background-color: #D8EBFB;
  text-align: center;
  }
  
ul {
  font-weight: bold;
  font-family: sans-serif
}

h1 {
  font-style: small-caps bold sans-serif;
  }
  
h2 {
  font-style: small-caps bold sans-serif;
  color: #F8BB1D;
  }
  
p {
  background-color: #B6DCFD;
  color: initial
  }
  
a {
  color: #F8BB1D
}
  
